<div class="container">
    <h3>Cześć @ViewBag.Name, masz @ViewBag.Age lat(a).</h3>
    <div class="container">
        @if (ViewBag.ErrorMessage != null)
        {
        <div class="alert alert-danger">@ViewBag.ErrorMessage</div>
        }
        else
        {
        <h3>Cześć @ViewBag.Name, masz @ViewBag.Age lat(a).</h3>
        }
    </div>

</div>